@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: white;
}

.title {
  @apply text-2xl font-semibold text-gray-700;
}

.line-section {
  @apply border-b border-gray-200 pb-2;
}

.h1 {
  @apply text-2xl font-semibold text-gray-700;
}

.h2 {
  @apply text-lg font-medium text-gray-800;
}
